@import url('https://fonts.googleapis.com/css?family=Montserrat');

.tab {
  width: 100%;
  display: table;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;

  &__navigation {
    width: 100%;
    display: flex;
    text-transform: uppercase;
  }

  &__panels {
    position: relative;
    z-index: 4; 
  }
}


