.tab-menu-item {
  position: relative;
  height: 60px;
  flex: 1 0 auto;
  padding: 15px 20px 20px 20px;
  text-align: center;
  background: #393E41;
  color: #E2C044;
  z-index: 0;
  box-shadow: inset 2px 1px 5px (#000 + 30);
  transform: translate(0, 20px);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out, background 0.2s ease-in-out;
  cursor: pointer;

  &:first-of-type {
    border-top-left-radius: 8px;
  }

  &:last-of-type {
    border-top-right-radius: 8px;
  }

  &:hover {
    transform: translate(0, 15px);
  }

  &__icon {
    position: absolute;
    top: 5px;
    right: 5px;

    svg {
      width: 10px;
      height: 10px;
      fill: #E2C044;
      stroke: #E2C044;
      pointer-events: none;
      transition: fill 0.2s ease-in-out, stroke 0.2s ease-in-out;
    }
  }
}

//State 
.tab-menu-item {

  &--active {
    transform: translate(0, 10px);
    box-shadow: 2px 5px 6px 2px (#393E41 - 30);
    z-index: 1;
    color: #393E41;
    background: #E2C044;

    &:hover {
      transform: translate(0, 10px);
    }
  } 
  
  &--active & {

    &__icon {

      svg {
        fill: #393E41;
        stroke: #393E41;
      }
    }
  }
}
