.tab-panel {
  display: none;
  padding: 34px 20px;
  background: #1D1D1B;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  &__left {
    width: 30%;
    position: relative;
    padding-top: 30px;

    &__controls {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 4;

      &__item {

        button {
          background: transparent;
          outline: transparent;
          cursor: pointer;
        }

        &:not(:first-of-type) {
          margin-left: 10px;
        }
      }
    }

    &__editor {
      position: relative;
      left: -108%;
      transition: left 0.3s;
      z-index: 4;
    }

    &__side-bar {
      position: absolute;
      top: 0;
      left: 18%;
      opacity: 0;
      transition: opacity 0.2s;
      pointer-events: none;
    }
  }

  &__right {
    flex: 1 1 auto;
    width: 100%;
    padding: 0 30px;

    &__tabs {
      display: flex;

      &__item {
        flex: 1 1 auto;
        padding: 20px;
        background: #393E41;
        color: #E2C044;
        text-transform: uppercase;

        &--clicked {
          transform: scale(1.5);
        }
      }
    }
  }
}

//State
.tab-panel {

  &--active {
    display: flex;
  }

  &__left {
      
    &__editor {

      &--open {
        left: 0;
      }
    }

    &__side-bar {

      &--open {
        opacity: 1;
        z-index: 6;
        pointer-events: auto;
      }
    }
  }
}
