.evm-state {
  color: $color-white;
  padding-top: 10px;

  &__item {
    padding: 10px 0;

    &__content {
      margin-top: 5px;
            
      span {
        word-break: break-all;
      }
    }
  }
}