@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.message-comp {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 6;

  &__main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__text {
      color: #E2C044;
    }
  
    &__button {
      display: table;
      margin: 30px auto;
  
      svg {
        width: 40px;
        height: 40px;
        fill: #E2C044;
        stroke: #E2C044;
        animation: rotate 5s infinite;
      }

      button {
        padding: 5px;
        font-size: 16px;
        border: 1px solid #E2C044;
        color: #E2C044;
        border-radius: 5px;
        background: transparent;
      }
    }
  }
}