.side-bar {
  width: 100%;
  padding: 10px 0;
  background: #000;
  
  &__item {
    width: 100%;
    padding: 20px;
    background: #000;
    color: #E2C044;
    text-transform: uppercase;
    border-bottom: 1px solid #E2C044;
    border-top: 1px solid #E2C044;
    transition: background 0.2s, color 0.2s;
    cursor: pointer;

    &:hover {
      background: #E2C044;
      color: #000;
    }
  }
}



