@import url('https://fonts.googleapis.com/css?family=Montserrat');

.tab {
  width: 100%;
  font-family: 'Montserrat', sans-serif;

  &__navigation {
    width: 100%;
    display: flex;
    //background: linear-gradient(to right, #8E2DE2, #4A00E0);
    text-transform: uppercase;
    color: #fff;
    //font-size: 15px;

    &__item {
      width: 100%;
      padding: 10px;
      flex: 1 1 auto;
      text-align: center;
    }
  }

  &__body {
    width: 100%;
    border: 1px solid #ddd;

    // h1 {
    //   font-size: 20px;
    // }
  }
}


// States

.tab {

  &--state-active & {

    &__navigation {

      &__item {
        border-bottom: 1px solid #fff;
      }
    }
  }
}


// Media Queries

@media (max-width: 687px) {
  .tab {

    &__navigation {
      flex-direction: column;
    }
  }
}