.top-nav-bar {
  width: 100%;
  position: fixed;
  top: 0;
  background: #1D1D1B;
  padding: 20px;

  // &__icon {
  //   position: absolute;
  //   top: 5px;
  //   right: 5px;

  //   button {
  //     background: transparent;
  //     outline: transparent;
  //     cursor: pointer;
  //   }
  //}
}

//States

// .nav-bar {

//   &--open {
//     left: 0;
//   }
// }